<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="chrome"></parameter>
	<test name="Test" preserve-order="true">
<!-- 		 <classes> <class name="testPackage.ImdbMainClass"/> </classes>  -->
		<classes>
			<class name="testPackage.ImdbMainClass">
				<methods>

					<include name="scenarioOne"></include>
					<include name="scenarioTwo"></include>
                    <include name="scenarioThree"></include>
                    
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->